*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Belanosima, Roboto;
    /* background: #0c0127; */
}

body{
    color: #0c0127;
    background: #0c0127;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: #0c0127;
}

.Logo{
    position: relative;
    font-size: 40px;
    text-decoration: none;
    font-weight: 600;
    color: aliceblue;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0c0127;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 310;
    margin-left: 35px;
    color: aliceblue;
    transition: 1.5s;
    flex-wrap: wrap;
}

.navbar a:hover, .navbar a.active{
    color: aqua;
}

.home{
    background: url(images/Cyb37\ Am05.jpg) no-repeat;
    background-size: cover; 
    background-position: center;
    height: 110vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    position: relative;
    font-size: 45px;
    font-weight: 700;
    color: aliceblue;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0c0127;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 35px;
    color: blue;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0c0127;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 18px;
    color: antiquewhite;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0c0127;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.contact{
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10%;
    /* background: #0c0127; */
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px 35px;
}

.form-title::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54, 84, 99, .7);
}

.title-1{
    font-family: Poppins-Bold;
    font-size: 50px;
    color: #0d0d0e;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 7px;
}

.title-2{
    font-family: Poppins-Regular;
    font-size: 35px;
    color: #0a0a0a;
    line-height: 1.5;
    text-align: center;
}

.validate-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 57px 190px;
}

.validate{
    position: relative;
    width: 100%;
    /* position: relative; */
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 26px;
}

.label{
    font-family: Poppins-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;
}


.input{
    height: 45px;
    position: relative;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 26px;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    /* width: 100%; */
    background: 0 0;
    padding: 0 5px;
}

.focus{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.container-form-btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
}

.form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #0c0127;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #00abf0;
    line-height: 1.2;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}



.about{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: #0c0127;
}

.about-content{
    /* max-width: 600px; */
}

.about-content h2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 45px;
    font-weight: 700;
    color: aliceblue;
    line-height: 1.2;
}

.about-content h2::before{
    content: '';
    /* position: absolute; */
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #7a5bc7;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.about-content h3{
    /* position: relative; */
    font-size: 35px;
    color: rgb(6, 112, 131);
}

.about-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0c0127;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.about-info{
    display: grid;
    grid-template-areas: 
    'bioimage bio bio'
    'aw1 aw2 aw3 aw4 aw5';
    grid-gap: 1.2rem;
}

.bio-image{
    height: 70px;
    width: 70px;
    grid-area: bioimage;
}

.bio{
    grid-area: bio;
    border-left: 3px solid #0c0127;
    padding: 0.8rem;
}

.certificate-1{
    grid-area: aw1;
}

.certificate-2{
    grid-area: aw2;
}

.certificate-3{
    grid-area: aw3;
}

.certificate-4{
    grid-area: aw4;
}

.certificate-5{
    grid-area: aw5;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1a1d4c;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: #00abf0;
    color: #081b29;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    height: 100%;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 500;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}


.btn-box a:nth-child(2)::before{
    background: #00abf0;
}


.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.icons{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0127;
    bottom: 40px;
    width: 100%;
    padding: 10px 70px;
    
}

.icons::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0c0127;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.icons a{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1; 
    /* background: #0c0127; */
    transition: .5s;
}

.icons a:hover::before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 470px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover{
    background: #0c0127;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #0c0127;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/*KEYFRAME ANIMATION*/
@keyframes showRight {
    100%{
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

@media (max-width: 920px) {
    .home{
        height: 140vh
    }
}

@media (max-width: 550px) {
    .home{
        height: 160vh
    }
}

@media (max-width: 420px) {
    .home{
        height: 170vh
    }
}